@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AspNetCore MVC Project</h1>
    <p>Use this application to manage users, companies, and modules.</p>
</div>


